














/* Jumbotron styling */

.jumbotron h1 {
    font-size: 50px;
    font-weight: bold;
    color:white;}






/* Jumbotron image */
.jumbotron {
    background-image: url(../images/camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
    display: flex;
    align-items:center;
    justify-content:center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}