/* Adding styles to Navbar  */
.navbar .navbar-brand {
    color: wheat;
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;


}

.navbar .navbar-nav {
    margin: 0 0 0 auto;
}

.navbar .nav-item a {
    color: white !important;
    font-size: 28px;
    text-shadow: 2px 2px 2px #aaa;
}

.navbar .nav-item a:hover {
    background-color: blue;
}

/* Jumbotron styling */

.jumbotron h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;

}

.jumbotron p {
    font-size: 38px;
    font-weight: bold;
    color: wheat;
}


/* Jumbotron image */
.jumbotron {
    background-image: url(../images/camping.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}

/* About section styling */

.abt {
    margin-top: -30px;
    background-color: #eee;
    padding: 10px;
}
.wkfun{
    font-size: 24px;
}
.my-form {
    margin-top: -20px;
}

.form-group {
    margin-top: 20px;
}

/* Submit button styling */
.btn-primary {
    margin-bottom: 50px;

}

#movies-api.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: row;
}

#movie-elements button {
    margin: 5px;
    justify-content: space-evenly;

}

.card {
    width: 300px;
}

.movie-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* footer */

.footer {
    margin: 30px auto;
    height: auto;
    width: auto;
    padding: 45px 0 20px;
    background-color: #bbb;
    color: #26272b;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: auto;
}

.footer .social_media-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #aaa;
}

.copyright-text {
    margin-left: 90px;
    margin-top: 30px;
    text-align: left;

}

@media (max-width: 991px) {
    .footer [class^=col-] {
        text-align: left;
        margin-bottom: 30px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-bottom: 0;
        height: auto;
    }

    .footer .copyright-text,
    .footer .social_media-icons {
        text-align: center;
    }
}

.hr {
    margin-left: 60px;
    margin-right: 60px;
}

.social_media-icons {
    margin-top: 25px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social_media-icons li {
    display: inline-block;
    margin-bottom: 8px;
}

.social_media-icons a {
    background-color: #eceeef;
    color: #26272b;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social_media-icons a:active,
.social_media-icons a:focus,
.social_media-icons a:hover {
    color: wheat;
    background-color: #262930;
}

.social_media-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

#cont-form {
    min-width: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form {
    width: 100%;
    max-width: 60rem;
    display: grid;
    place-items: center;
    padding: 1rem;
    background: black;
}

